<%- include("components/header")%>

<div id="result-page">
    pagina de resultado

    <p>município: <%- location%></p>
    <p>categoria: <%- category%> </p>
    <p>numego gerado: <%- random%></p>
</div>

<%- include("components/footer")%>